<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="PsyDocsContext"
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)"
         connectionString="metadata=res://*/PsyDocsModel.csdl|res://*/PsyDocsModel.ssdl|res://*/PsyDocsModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Server=tcp:j24dv2ymis.database.windows.net,1433;Database=PsyDocs;User ID=psydocs@j24dv2ymis;Password=Psy@D0cs;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
</configuration>
